langchain==0.3.24
langchain-community==0.3.22
langchain-core==0.3.56
langchain-openai==0.2.11
langchain-text-splitters==0.3.8
langgraph==0.2.56
langgraph-checkpoint==2.0.10
langgraph-checkpoint-postgres==2.0.7
langgraph-sdk==0.1.51
numpy==2.2.0
openai==1.59.8
pydantic==2.10.5
pydantic-settings==2.8.1
pydantic_core==2.27.2
pypdf==5.4.0
